/* Styles for Mobile Site */
body {
    background-color: rgb(18, 17, 17);
    color: white;
    background-image:url(/img/background/simple.jpg);
    padding:0px;
    margin:0px;
}

#Main-title {
text-align: center;
text-align: center;
background-color: hwb(0 0% 100%);
color: white;
padding:  20px;
border: 20px double #830202;
border-radius: 300px;
font-family:Frijole;

}

h2 {
    font-family: Frijole;
}

#des{
    color: red;
text-align: right;
flex-direction: column;

}




/* Header & Hero */
header {
    display:flex;
    flex-direction: column;
}

#des {
    text-align:center;
}

#hero {
    
    box-sizing:border-box;
    width:400px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 400px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    
    background-color: rgb(27, 27, 27);
    color: white;
    border: 15px  double hsl(0, 0%, 100%);   
    background-image: url(/img/background/dragon\ background.webp);
    
}

#hero img {
    max-width: 100%;
}

#skull {
    font-family:fantasy;
}

/* Projects */
#spice {
   border: solid #ffffff 3px;
   padding-left: 5vw;
   padding-right: 5vw;
   margin-top:5%;
   background-image: url(/img/background/white\ background.jpg);
   color: black;

   text-align: center;
}



#spice img {
    border: #b60000 dashed 3px;
    border-radius: 20px;
    max-width:100%;
    padding:px;
    margin:px;
}

.DA {
    
    max-width: 100%;
    height: auto;
}
.LOGO {
    max-width: 100%;
    height: auto;
}
#des {
    max-width: auto;
    height: auto;
}






/* Reviews */
/* 1 column */
    #reviews {
        display: grid;
        ;
    }
    .review {
        border: rgb(124, 0, 0) solid 2px;
        margin-left: 2vw;
        margin-right: 2vw;
        border-radius: 10px;
        
    }
.name {
    border: rgb(139, 10, 10) 2px dashed;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    font-size: 30px;
    font-family:Frijole;
    color:#ffffff;
    text-align: center;
}
.title {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    
}
.rating {
    text-align: center;
    padding-bottom: 10px;
    
}
.content {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}






/* Footer */


/* Media state for Desktop site */
@media (min-width: 1000px) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
}

    /* Header & Hero */

    /* Projects */
    #spice {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
     h2 {
        grid-column:1/-1;
        text-align: center;
    }



    /* Reviews */
    /* 3-column */
    #reviews {
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* Footer */

}